.btn-primary {
    display: inline-block;
    background-color: grey;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
    opacity: 0.3;
  }
  

  .btn-primary:hover {
    background-color: black;
    color: lightblue;
    opacity: 0.4;
  }

  .btn-secondary {
    border: 1px solid #1EDD88;
    padding: 8px 16px;
    border-radius: 50px;
    color: #1EDD88;
  }