.footer {
    text-align: center;
    padding: 40px;
    background-color: transparent;
    opacity: 0.5;
  }

  .footer a {
    font-size: 30px;
    color: hsla(194, 73%, 29%, 0.926);
  }

  .footer a:hover {
    font-size: 30px;
    color: hsla(194, 92%, 25%, 0.337);
  }

  .footer p {
    color: grey;
    opacity: 0.5;
  }

  .footer .fas {
    color: #BF0F12;
  }

  .footer .fas:hover {
    color: #BF0F12;
  }



i:hover::before {
    transform: rotate(360deg);
}

i:before {
    display: inline-block;
    /* mandatory to be able to use transform */
    transition: 1s all;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1.3);
    }
}

.copyright:hover {
    opacity: 1;
}


.footer-links a:hover {
    opacity: 1;
    animation: rotate 2s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1.3);
    }
}

.far fa-copyright {
    color: red;
}
